.homeHeader {
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TitleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.UserBox {
    display: flex;
    flex-direction: row;
    color: rgb(226, 222, 222);
    align-items: center;
}

.UserAccount {
    margin: 15px;
    color: white;
}

.SubTitle {
    background-color: white;
    font-size: 15px;
    color: #8e8e93;
    padding-top: 25px;
}

/* 布局排版 */

.FlexBox {
    padding: 0 10% 3% 10%;
    background-color: white;
    height: 100%;
}

.projectsTable {
    display: flex;
    justify-content: center;
}

.cell {
    color: #2a2a2a;
    text-decoration: none;
}

.rs-breadcrumb {
    margin-bottom: 0px !important;
}