.homeHeader {
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TitleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.UserBox {
    display: flex;
    flex-direction: row;
    color: rgb(226, 222, 222);
    align-items: center;
}

.UserAccount {
    margin: 15px;
    color: white;
}

.SubTitle {
    background-color: white;
    font-size: 15px;
    color: #8e8e93;
    padding-top: 25px;
    padding-right: 15%;
    padding-left: 15%;
}

/* 布局排版 */

.FlexBox {
    padding: 0 10% 3% 10%;
    background-color: white;
    height: 100%;
}


.projectsTable{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
}

.cell{
    color: #2a2a2a;
    text-decoration: none;
}
/* 卡片樣式 */

.Card {
    background-color: white;
    height: 0;
    padding-bottom: 100%;
    font-size: 20px;
    font-weight: bolder;
    word-wrap: break-word;
    text-align: center;
    color: #575757;
}

.Card:hover {
    background-color: #b6b7b9ea;
}

#Card_AddNew {
    font-size: 50px;
    font-weight: 10;
}

/* 文字置中 */

/* .rs-panel-body {
    margin-top: 50px;
} */